.venv/
.venv/*

*.pyc

__pycache__/
__pycache__/*

unsloth_compiled_cache/
unsloth_compiled_cache/*

backup/
backup/*

data/
data/*

data/
*.jsonl
*.zip
.env

Qwen/
Qwen/*

models/
models/*

# Model outputs
outputs/
generalize_sft_slm/output/
*.arrow
*.pt
*.bin
*.safetensors

# Databases
*.db

# Backup files
*.bak
*.deb

# Python
__pycache__/
*.pyc